<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e15.alarmnats">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:permission="android.permission.INTERNET"
            android:name=".ActivityController.DisplaySearchSong"
            android:label="@string/title_activity_display_search_song"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityController.WeatherActivity"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_weather"
            android:permission="android.permission.INTERNET"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityController.MathTestActivity" />
        <activity android:name=".ActivityController.QRtestActivity" />
        <activity android:name=".ActivityController.QRscanActivity" />
        <activity android:name=".ActivityController.SetAlarmActivity" />
        <activity
            android:name=".ActivityController.AlarmFiredActivity"
            android:excludeFromRecents="true" />
        <activity android:name=".ActivityController.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" /> <!-- <receiver -->
        <!-- android:name="com.e15.alarmnats.AlarmReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>